abrt/*
dconf/*
enchant/*
evolution/*
gnome-session/*
goa/*
gtk-3.0/*
ibus/*
kde.org/*
nautilus/*
nemo/*
pulse/*
session/*
solaar/*
Thunar/*
screenshots/*
VSCodium/*
wal/*
wallpapers/*
xfice4/*
monitors.xml 
.gsd-keyboard.settings-ported
dolphincr
gnome-initial-setup-done
knfsshare
mimeapps.list
user-dirs.dirs
user-dirs.locale
everforest.conf
everforest.light.conf 
xfice4